.body h1 {
  font-family:'Special Elite', cursive; 
  font-size: 30px; 
  display: flex;
  flex-direction: row;
}

.body h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.body h1:before {
  margin-right: 10px
}

.body h1:after {
  margin-left: 10px
}

.text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}